* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    background-color: #444E47;
}

/* Start up screen and ending screen display */
.begin-screen, .score-box {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    padding: 30px;
    font-size: 7em;
}

#high-scores {
    color: white;
}

p {
    color: whitesmoke
}

#begin {
    margin-bottom: 30px;
}


button {
    background-color: white;
}

#begin, #restart {
    font-size: 24px;
    border-radius: 8px;
    padding: 5px;
}

button #begin {
    
}

#restart {
    margin-top: 10px;
}

 /* Centers the questionaire dissplay center to the screen */
#display-box {
    background-color: #FFFFFF;
    padding: 100px;
    width: 75%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
} 

.time-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

/* Setting style for Java */

.hide {
    display: none;
}

.incorrect button {
    background-color: #6b4f4f;
    color: red;
    border-color: red;
}

.correct button {
    background-color: #577360;
    color: green;
    border-color: green;
}

ul #answer {
    max-width: 100%;
}

#answer .answer-btn {
    width: 100%;
    height: 4em;
    background-color: #444E47;
    color: #FFFFFF;
    font-size: 1.3em;
}

#question-container {
    display: flex;
    justify-content: center;
}

#question {
     font-size: 2em;
     font-weight: 700;
     padding-bottom: 2em;
}


#your-score {
    font-size: 2.5em;
    padding-bottom: 20px;
}

.high-box {
    height: 80em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#high-scores {
    font-size: 5em;
    padding-bottom: 30px;
}

 .scores li {
    color: white;
    font-size: 3em;
    margin-left: 1em;
}

#score-form {
 display: flex;
 flex-direction: column;
}

#name {
    font-size: 3em;
    text-align: center;
}

label {
    text-align: center;
    color: white;
    font-size: 2em;
}

#saveHighScore {
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#your-score {
    text-align: center;
    padding: 20px;
}